<section class="blog-list mtb-40">
  <div class="container">
    <h1>{{ title }}</h1>
    <div class="row" *ngIf="blogs">
      <div class="col-md-4" *ngFor="let blog of blogs">
        <div class="blog-box">
          <img [src]="blog.image" alt="{{ blog.title }}" />
          <h3>{{ blog.title }}</h3>
          <p>
            by <span>{{ blog.user.name }}</span> on
            <span>{{ blog.created_at | date: "mediumDate" }}</span>
          </p>
          <p>{{ shortDescription(blog.description) }}</p>
          <a [routerLink]="['/blog', blog.id]" class="btn btn-danger">
            Read more...
          </a>
        </div>
      </div>
    </div>
    <div class="service-error" *ngIf="error">
      <h1>{{ error.errorTitle }}</h1>
      <h3>{{ error.errorDesc }}</h3>
    </div>
  </div>
</section>
