<section class="blog-detail mtb-40">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="blog-left" *ngIf="blog">
          <h1>{{ blog.title }}</h1>
          <div class="posted-on">
            <p>
              by <span>{{ blog.user.name }}</span> on
              <span>{{ blog.created_at | date: "mediumDate" }}</span>
            </p>
          </div>
          <div class="detail-img">
            <img
              [src]="
                blog.image
                  ? blog.image
                  : 'assets/images/no-image-placeholder.png'
              "
              alt="{{ blog.title }}"
            />
          </div>
          <div class="blog-desc" [innerHTML]="blog.description"></div>
          <app-blog-vote [blogId]="blog.id" [vote]="blog.vote"></app-blog-vote>
        </div>
        <div class="blog-left" *ngIf="notFound">
          <app-page-not-found></app-page-not-found>
        </div>
        <div class="service-error" *ngIf="error">
          <h1>{{ error.errorTitle }}</h1>
          <h3>{{ error.errorDesc }}</h3>
        </div>
      </div>
      <div class="col-md-4">
        <app-blogpost-recent></app-blogpost-recent>
        <app-categories></app-categories>
      </div>
    </div>
  </div>
</section>
